[submodule "part0"]
	path = part0
	url = git@github.com:otorniko/part0.git
[submodule "part1"]
	path = part1
	url = git@github.com:otorniko/part1.git
[submodule "part2"]
	path = part2
	url = git@github.com:otorniko/part2.git
